<ion-header>
  <ion-toolbar class="toolbar-turquesa">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="dark">Usuarios Registrados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let usuario of usuarios">
          <ion-label>
            <h2>{{ usuario.tipo }}</h2>
          </ion-label>
          <ion-button (click)="modificarUsuario(usuario)">Buscar</ion-button>
          <ion-button color="danger" (click)="eliminarUsuario(usuario.rut)">Eliminar</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <form [formGroup]="persona" (ngSubmit)="guardarCambios()">
      <ion-input formControlName="email" type="text" labelPlacement="stacked" label="Correo Institucional"></ion-input>
      <ion-text *ngIf="persona?.get('email')?.hasError('required') && persona?.get('email')?.touched" color="danger">
        El email es obligatorio.
      </ion-text>
      <ion-text *ngIf="persona?.get('email')?.hasError('pattern') && persona?.get('email')?.touched" color="danger">
        Formato de email no válido.
      </ion-text>

      <ion-input formControlName="numero_celular" type="text" labelPlacement="stacked" label="Número de Celular"></ion-input>
      <ion-text *ngIf="persona?.get('numero_celular')?.hasError('required') && persona?.get('numero_celular')?.touched" color="danger">
        El número de celular es obligatorio.
      </ion-text>
      <ion-text *ngIf="persona?.get('numero_celular')?.hasError('pattern') && persona?.get('numero_celular')?.touched" color="danger">
        El número de celular debe tener el formato +569XXXXXXXX.
      </ion-text>

      <ion-input formControlName="rut" type="text" labelPlacement="stacked" label="RUT"></ion-input>
      <ion-text *ngIf="persona?.get('rut')?.hasError('required') && persona?.get('rut')?.touched" color="danger">
        El RUT es obligatorio.
      </ion-text>
      <ion-text *ngIf="persona?.get('rut')?.hasError('rutInvalido') && persona?.get('rut')?.touched" color="danger">
        El RUT ingresado es incorrecto. Verifique el número y el dígito verificador.
      </ion-text>

      <ion-input formControlName="nombre" type="text" labelPlacement="stacked" label="Nombre"></ion-input>
      <ion-text *ngIf="persona?.get('nombre')?.hasError('required') && persona?.get('nombre')?.touched" color="danger">
        El nombre es obligatorio.
      </ion-text>
      <ion-text *ngIf="persona?.get('nombre')?.hasError('pattern') && persona?.get('nombre')?.touched" color="danger">
        El nombre solo puede contener letras.
      </ion-text>

      <ion-input formControlName="apellido" type="text" labelPlacement="stacked" label="Apellido"></ion-input>
      <ion-text *ngIf="persona?.get('apellido')?.hasError('required') && persona?.get('apellido')?.touched" color="danger">
        El apellido es obligatorio.
      </ion-text>
      <ion-text *ngIf="persona?.get('apellido')?.hasError('pattern') && persona?.get('apellido')?.touched" color="danger">
        El apellido solo puede contener letras.
      </ion-text>

      <ion-input formControlName="password" type="password" labelPlacement="stacked" label="Contraseña"></ion-input>
      <ion-text *ngIf="persona?.get('password')?.hasError('required') && persona?.get('password')?.touched" color="danger">
        La contraseña es obligatoria.
      </ion-text>
      <ion-text *ngIf="persona?.get('password')?.hasError('minlength') && persona?.get('password')?.touched" color="danger">
        La contraseña debe tener al menos 8 caracteres.
      </ion-text>

      <ion-input formControlName="re_password" type="password" labelPlacement="stacked" label="Repetir Contraseña"></ion-input>
      <ion-text *ngIf="persona?.get('re_password')?.hasError('required') && persona?.get('re_password')?.touched" color="danger">
        Repetir la contraseña es obligatorio.
      </ion-text>
      <ion-text *ngIf="persona?.hasError('noCoinciden') && persona?.get('re_password')?.touched" color="danger">
        Las contraseñas no coinciden.
      </ion-text>

      <ion-input formControlName="fecha_nacimiento" type="date" labelPlacement="stacked" label="Fecha de Nacimiento"></ion-input>
      <ion-text *ngIf="persona?.get('fecha_nacimiento')?.hasError('menorDeEdad') && persona?.get('fecha_nacimiento')?.touched" color="danger">
        Debes tener al menos 18 años.
      </ion-text>

      <ion-label>Instruye Asignaturas:</ion-label>
      <br>
      <ion-radio-group formControlName="esprofesor">
        <ion-radio value="si">Si</ion-radio>
        <ion-radio value="no">No</ion-radio>
      </ion-radio-group>

      <!-- Campos solo visibles si es profesor -->
      <ion-input *ngIf="persona.controls['esprofesor'].value == 'si'" formControlName="asignatura" type="text" label="Nombre Asignatura" labelPlacement="stacked"></ion-input>
      <ion-input *ngIf="persona.controls['esprofesor'].value == 'si'" formControlName="cant_alum" type="number" label="Cantidad de alumnos (Minimo 4, Maximo 32)" labelPlacement="stacked"></ion-input>
      <ion-input *ngIf="persona.controls['esprofesor'].value == 'si'" formControlName="anio_inscripcion" type="text" label="Año de Inscripcion" labelPlacement="stacked"></ion-input>

      <ion-button type="submit" size="block" class="toolbar-naranja" [disabled]="persona.invalid">REGISTRAR</ion-button>
      <ion-button type="button" size="block" color="secondary" (click)="limpiarFormulario()">LIMPIAR</ion-button>
    </form>
  </ion-card>
</ion-content>
