
<ion-content [fullscreen]="true" class="inicio-content">

  <div id="container">
    <ion-card class="inicio-card">
      <ion-card-header>
        <ion-card-title>
          <h1>¡Hola,  {{usuario.nombre | titlecase}}!</h1>
        </ion-card-title>
        <ion-card-subtitle>¡Bienvenido/a a tu perfil!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p class="welcome-message">Estamos encantados de tenerte aquí. Explora la aplicación y disfruta de todas nuestras funcionalidades.</p>
      </ion-card-content>
        <ion-toolbar>
          <ion-title>Plataforma Detectada</ion-title>
        </ion-toolbar>      
        <p>Estás usando la plataforma: <strong>{{ plataforma }}</strong></p>
    </ion-card>
  </div>
</ion-content>