ion-title {
    font-size: 40px;        
    font-weight: bold;      
    text-align: center;      
    line-height: 1.2;        
    padding-bottom: 4px;    
    background-color: none;
  }
  
  ion-toolbar {
    padding-bottom: 4px;     /* Añade espacio adicional en la parte inferior del toolbar */
  }