ion-content {
    --background: url("../assets/img/prueba3.jpg") no-repeat center center/cover;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container ion-toolbar {
    font-size: 28px; /* Un poco más grande */
    font-weight: 600; /* No tan bold como "bolder" pero aún prominente */
    margin: 10px 0;   /* Margen para dar aire arriba y abajo */
    padding: 5px 10px; /* Un poco de relleno para un mejor espaciado interno */
    color: #333;       /* Un color más oscuro pero no completamente negro */
    text-align: center; /* Centrado si el contenido es un título */
    letter-spacing: 1px; /* Espaciado entre letras para darle más estilo */
    line-height: 1.4;   /* Mejora la legibilidad aumentando el espacio entre líneas */
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); /* Opcional: una línea sutil debajo */
}

/* Estilos para el ion-toolbar */
ion-toolbar {
    --background: transparent; /* Fondo transparente para eliminar el color de fondo */
    padding: 0; /* Elimina el padding interno del toolbar */
    margin: 0; /* Elimina el margen si es necesario */
  }
  
  /* Estilos para el ion-title dentro del toolbar */
  ion-title {
    background-color: green !important; /* Fondo verde para el título */
    color: whitesmoke !important; /* Texto blanco */
    font-size: 30px; /* Tamaño del texto del título */
    font-weight: bold; /* Negrita para el texto */
    text-align: center; /* Centra el texto */
    line-height: 1.2; /* Altura de línea */
    padding: 0; /* Elimina el padding para ajustar el espaciado */
    margin: 0; /* Elimina el margen para ajustar el espaciado */
  }
  
  /* Opcional: Ajustar el ion-buttons si hay algún espaciado extra */
  ion-buttons {
    margin: 0; /* Elimina el margen si es necesario */
  }
  

#container ion-card ion-card-content ion-list ion-item {
    --border-width: 0;
    --border-color: green !important;
    color: white !important;
    

    ion-label {
        text-align: start;
        color: black !important;
    }
    ion-input{
        text-align: center;
        color: black !important;
        background-color: darkgreen !important;
    }
}
