<ion-header>
  <ion-toolbar class="toolbar-turquesa">
    <ion-title>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">
  <ion-card>
    <div class="login">
      <img src="assets/RegistAPP.png" alt="Logo de la Aplicación" class="logo">
    </div>

    <ion-card-header>
      <ion-card-title color="dark">Ingresa a tu Cuenta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="login()">
        <!-- Correo -->
        <ion-input 
          [(ngModel)]="email" 
          name="email"
          type="email" 
          label="Correo" 
          labelPlacement="stacked" 
          fill="outline" 
          placeholder="Ingresa tu correo" 
          aria-label="Correo Electrónico" 
          required>
        </ion-input>
        <br>

        <!-- Contraseña -->
        <ion-input 
          [(ngModel)]="password" 
          name="password"
          type="password" 
          label="Contraseña" 
          labelPlacement="stacked" 
          fill="outline" 
          placeholder="Ingresa tu contraseña" 
          aria-label="Contraseña" 
          required>
        </ion-input>
        <br>

        <!-- Botón de login -->
        <ion-button 
          type="submit" 
          size="block" 
          class="toolbar-naranja">
          INGRESAR
        </ion-button>
      </form>

      <!-- Recuperación de contraseña -->
      <p>
        Olvidaste tu Contraseña? Puedes Recuperarla Aquí! 
        <a routerLink="/recuperar">Recuperar Contraseña</a>
      </p>
    </ion-card-content>
  </ion-card>

  <!-- Enlace para crear cuenta -->
  <p>
    Si No Tienes Cuenta en RegistApp, puedes Registrarte Aquí. 
    <a routerLink="/registro">Crea tu Cuenta</a>
  </p>
</ion-content>
  