#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container ion-card  {
  background-color: rgba(31, 30, 30, 0.864) !important; 
}

.transparent-list {
  background-color: transparent !important; /* Elimina el fondo de ion-list */
}

#kira {
  border: cadetblue !important;
}

.button-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Botones personalizados */
.custom-button {
  --background: #4CAF50;
  border-radius: 25px;
  color: white;
}

.custom-button-outline {
  --border-radius: 25px;
  --border-color: #4CAF50;
  --color: #4CAF50;
}
