<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login de Acceso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login de Acceso</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <ion-card-header>
        <ion-card-subtitle>Login de acceso</ion-card-subtitle>
        <ion-card-title >Credenciales</ion-card-title>
        <app-header></app-header>
      </ion-card-header>
      <ion-card-content >
        <div class="login">
          <img src="./assets/img/icon2.png" alt="">
        </div>
        <ion-list class="semi-transparent">
          <ion-item>
            <ion-input [(ngModel)]="user.username" label="Usuario" 
              placeholder="Ingrese su usuario" labelPlacement="floating"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Contraseña" [(ngModel)]="user.password" type="password" 
              placeholder="Ingrese su contraseña" labelPlacement="floating">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-toggle >Recuerdame</ion-toggle><br /><br />
          </ion-item>
          <ion-item>
            <a href="http://localhost:8100/recover">¿Olvidaste tu contraseña?</a>
          </ion-item>
          <ion-item>
            <ion-label>{{mensaje}}</ion-label>
          </ion-item>
          <div *ngIf="spinner">
            <ion-item id="carga">
              <ion-label>Cargando</ion-label><br>
            </ion-item>
            <ion-item id="spinner">
              <mat-spinner></mat-spinner>
            </ion-item>
          </div>
        </ion-list>
        <ion-button id="kira"  (click)="validar()">Conectar</ion-button>
        <ion-button id="Manzana"  [routerLink]="['/register']">Registrar</ion-button>
      </ion-card-content>
  </div>
</ion-content>